/*Homapage starts here*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
/*Background image of homepage is added*/
header{
	background:url("images/namo-buddha.jpg");
	height:100vh;
	background-size:cover;
	background-position:center;
}
 .max-width{
	max-width: 1500px;
	padding: 0 70px;
	margin: 20px;
}
/*menubar styling starts...*/
.navbar{
	position: fixed;
	width: 100%;
	padding: -70px 0px;s
}
.navbar .menu li a{
	color: #000;
	font-size: 18px;
	font-weight: 500;
	margin-left: 30px;
	transition: 0.3s ease;
}
/*hover for menubar*/
.navbar .menu li a:hover{
	background-color: crimson;
	color: #fff;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .logo a{
	font-size: 22px;
	color: #000;
	font-weight: 600;
}
/*logo of the page is inserted here*/
.logo img{ 
		width: 30px;
		border-radius: 15px;
		float: left;
		margin-right: 10px;
	}
.navbar .max-width{
	display: flex;
	align-items: center;
    justify-content: space-between;
}
/*hamburger icon is made here*/
.menu2{
    height: 35px;
	width: 33px;
	margin: 16px 4px 9px 16px;
	display: none;
}
.menu2:active .aa,
.menu2:focus  .aa{
	visibility: visible;
}
.menu2 .aa{
    height: 4px;
	width: 100%;
	background-color: crimson;
	display: block;
	border-radius: 3px;
}
#ss{
	transform: translateY(-3px);
}
#cc{
	transform: translateY(3px);
}
/*html page text is inserted  */
.title{ 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
 .title h2{
 	color: #000;
 	font-size: 60px;
}
.title h2:before{
	content:'Hello!';
	animation: ani 8s infinite;
}
.title h3{
	color: crimson;
	font-size: 40px;
	-webkit-box-reflect: below linear-gradient(transparent,crimson);
    animation: animate 5s linear infinite;
}
.title span{
    font-size:20px;
    color: silver;
}
/*1st Animation of text starts here*/
@keyframes ani{
	0%{
	 	font-size: 60px;
		opacity:1;
	}
	25%{
	 	font-size: 57px;
		opacity:0;
	}
	50%{
	 	font-size: 60px;
		opacity:1;
		
	}
	65%{
	 	font-size: 57px;
		opacity:0;
	}
	80%{
	 	font-size: 60px;
		opacity:1;
		content:'Namaste!';
	}
	90%{
	 	font-size: 57px;
		opacity:0;
	}
	100%{
	 	font-size: 60px;
		opacity:1;
		content:'Hello!';
		
	}
}
/*2nd animaion of text starts here*/
@keyframes animate{
	0%{
		color: #e0df79;
		text-shadow:0 0 20px yellow;
	}
	25%{
		color: #78f576 ;
		text-shadow:0 0 20px #1cf218;
	}
	50%{
		color: #91f1f2;
		text-shadow:0 0 20px #2de0e3;
	}
	75%{
		color: #f2cb83;
		text-shadow:0 0 20px #f7a919;
	}
	
	100%{
		color:#e0917b;
		text-shadow: 0 0 20px crimson;
	}
}
/*Media Query of index.html for hamburger icon*/
@media screen and (max-width: 600px) {
  .navbar ul li:not(:first-child) {display: none;}
  .navbar .menu2 {
    float: right;
    display: block;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
  }
}
/*Media query of whole homepage start here*/
@media screen and (max-width: 600px) {
  .navbar.responsive ul li {position: relative;}
  .navbar.responsive .menu2 {
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    
  }
  .navbar.responsive ul li {
    float: none;
    display: block;
    text-align: left;
  }
  .menu2 {
  	display: block;
  }
}
 .hamberger-icon{
	display: none;
}
/*Css and media query of indexpage ends here*/

/*.contact.html css start here*/
*{ 
	margin: 0;
	padding: 0;
}
/*background image*/
.content{
	background-image: linear-gradient(#fff,pink);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	object-position: center;
	background-attachment:fixed;
	overflow: hidden;
}
.contact. content h3{
	font-size: 36px;
	font-weight: 500;
	color:#fff;
}
.container0{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3px;
	padding-top: 130px;
}
/*Some contact info about me  was provided*/
.container0 .contactinfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container0 .contactinfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
	margin-top: 40px;
	width: 50%;
}
.container0 .contactinfo .box .text{
	display: flex;
	margin-left: 15px;
	font-size: 16px;
	color: #000;
	flex-direction: column;
	font-weight: 300;
}
.container0 .contactinfo .box .text h3{ 
    font-weight: 500;
    color: crimson; 
}
/*Contact form was created*/
.contactform{
	width:40%;
	padding:50px;
	padding-bottom:5px;
	background: #fff;
}
.contactform h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactform .inputbox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactform .inputbox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
	color:#e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
/*form submit buttom can see here*/
.contactform .inputbox input[type="submit"]{
	width: 100px;
	background: crimson;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 10px;
}
/*Contactform ends here*/
/*media query of contact.html*/
@media(max-width: 1050px){
    .container0{
		flex-direction: column;
	}
	.contactform{
		width: 90%;
	}
	.contactform .inputbox input[type="submit"]{
		width:40px;
	}
	.content{
		height:180vh;
	}
}
}
/*CV.html css starts here*/
*{
	margin: 0px;
	padding: 0px;
}
/*it holds two section  css*/
.cv_container{
	margin-top: 100px;
	padding: 10px;
	position: absolute;
	width: 80%;
	margin-right: 5%;
	margin-left: 5%;
	display: inline-flex;
}
/*Personal information css */
.personal_info{
	width:25%;
	background-color:pink;
	padding: 10px;
}
/*other personal information css */
.details{
	width: 70%;
	background: white;
	padding: 10px;
}
/*backgound image css can be seen */
.cv_body{
	background-image: url("images/namo-buddha.jpg");
	background-repeat:no-repeat;
    background-position: center; 
    height: 1000px;
    width: 100%;
    background-size: cover;
}
/*table css*/
table, th, td{
	border:2px solid #000;
	text-align: left;
}
/*cv image css*/
.personal_info img{
  width: 120px;
  margin-top: 6%;
  text-align: center;
  margin-left: 10%;
  height: 100px;
  border-radius: 5px;
}
/*CV.html media query*/
@media screen and (max-width: 600px) {
	.cv_container{
		flex-direction: column;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
	.personal_info{
		width: 100%;
	}
	.details{
		width: 100%;
	}
}
/*Protofolio css starts*/
 *{
 	margin: 0px;
 	padding:0px;
}
.Port1{
    width: 1000px;
	float: center;
    text-align: center;
	padding-top: 60px;
	flex-direction: column;
}
.Port1 h1{
    height: 120px;
    margin: 0 auto;
    font-size: 25px;
}
.Port1 h1 span{
	color: crimson;
 	font-size: 35px;
}
/*background image css of portfolio*/
.backg1{
	background-image: url("images/namo-buddha.jpg");
	background-size: cover;
	height: 100vh;
	width: 100;
	position: relative;
	background-repeat:no-repeat;
    background-position: center; 
    overflow : hidden;

}
/*Placeholder image css with the help od grid can be seen*/
.grid-holder{
	height: 50vh;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap:50px;
	align-items: center;
	padding-top:25px;
	padding-right:50px;
	padding-left:100px;
	grid-template-rows:250px;
	margin-top: 30px;
}
.placeholder1{
	box-shadow: 0 0 3px rgba(222, 227, 224); 
	height: 400px;
}
.placeholder1 img{
	width:100%;
	display:block;
	height: 50vh;
}
/*placeholder content css */
.ph-content{
	padding:15px;
	opacity:0.8; 
	height:20vh;
	text-align:center;
	background: linear-gradient(rgba(153, 239, 242),rgba(69, 255, 150));
}
/*media query of portfolio*/
@media screen and (max-width:600px){
	.backg1{
		background-size: center;
	    height: 320vh;
	    position:absolute;
	}
	.grid-holder{
		grid-row-gap: 10px;
	}
}
/*Sitereport starts here*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
}
/*information of report has been shown in creative way*/
.Reports{
	background-color: #bac1c9;
	width: 90%;
	padding: 25px;
	margin-top: 10%;
	left: 5%;
	position: absolute;
    height: 6000px;
    opacity: 0.8;
    margin-right:9%;
    font-size: 18px;
    /*position: relative; */
}
.Reports h4{
	color: ;
}
/*It holds background of report*/
.v_body{
	background-image: radial-gradient(#eeaeca,#94bbe9,#eeaeca);
	background-position: center;
	position: absolute; 
    height: 900vh;
    /*opacity: 0.5;*/
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
/*some images are inserted related with content*/
.shot{
	justify-content: space-around;
	display: flex;
}
.shot img{
	width: 45%;
	height: 300px;
	}
@media screen and (max-width:600px){
	.Reports{	
	width: 90%;
	padding: 25px;
	margin-top: 30%;
	left: 5%;
	position: relative;
 }
/*Report page css ends here*/